<head>
  <script>[[driver.js]]</script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body> 
  <div class="container">
    
    <div class="header">
      <h1 class="h1">Mortgage Calculator</h1>
    </div>
    <div class="subheader"></div>
    
    <div class="spacer"></div>
    
    <div  class="input" id="form">
      <div>
          <label class="label">Loan Principal: </label>
          <input class="textbox" name="principal" type="text">
      </div>

      <div class="spacer"></div>

      <div>
          <label class="label">Interest Rate: </label>
          <input class="textbox" name="interest" type="text">
      </div>

      <div class="spacer"></div>

      <div>
         <label class="label">Years to Repay: </label>
         <input class="textbox" name="years" type="text">
      </div>
    </div>

    <div class="spacer"></div>

    <div class="answer">
      <div>Total Interest Incurred: </div>
      <div id="result"></div>
    </div>
    
    
    <div class="buttonBox">
      <button onclick="getData()">Calculate</button>
    </div>
    
  
    <template id="myTemplate">
     <div>$[[value1]]</div>
    </template>

</body>