html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: DarkSeaGreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: DarkSeaGreen;
  flex-direction: column;
  height: 100%;
}

h1{
    color: #bc536d;
    justify-content: center;
    font-weight: bold;
    font-size: 72px;

}

.input{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: DarkSeaGreen;
    
}

.label{
    color: #3c4d6d;
    font-size: 18px;
    width: 50%;
    justify-content: center;
    flex: 1.9;
}

.textbox{
    
 flex: 3;
 height: 18px;
 justify-content: flex-start;
 border-radius: 8px;
     
}

.buttonBox{
  justify-content: center;
  align-items: stretch;
  background-color: DarkSeaGreen;
  flex-direction: column;
  display: flex;
}

.header{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: SkyBlue;
  height: 100px;
  text-align: center;
  flex: .45;
  justify-content: flex-start;
}

button{
    height: 50px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 21px;
    margin: 2px auto;
    background-color: #4f648c;
    color: lightgray;
    display: inline-block;
    min-width: 125px;
    margin-bottom: 65px;
    margin-top: 35px;
    
}

.subheader{
    background-color: #4f648c;
    flex: .2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spacer{
    flex: .25;
}

.lilspacer{
  flex: .025
}

.answer{
    padding-left: 65px;
    font-size: 34px;
    color: #3c4d6d;
}



@media only screen and (max-width: 950px) {
    .label {
        font-size: 25;
    }

@media only screen and (min-width: 550px) {
    .label {
        font-size: 25;
    }
